body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
   margin: 0;
}

header {
 padding: 10px;
   background-color: #141311; 
    left: 0;
    display: table;
    z-index: 1;
    width: 800px;
  max-width:100%;
}

header .row,
footer .row {
  display: stretch;
  align-content: stretch;
   margin: 0;
   width: 1400px;
   max-width: 100%;
}

.header col-sm-5 {
color: green;

}

/* .header is the right */

header h1 {
  font-weight: 70px;
  font-size: 40px;
  color: white;
    max-width: 100%;

}

header nav {
  display: flex;
  justify-content: flex-end;
  color: white;
    max-width: 100%;
    float:right;

}

header p {
  padding: 0 20px;
  margin-top: 25px;
  color: red !important;
  font-size: 20px;
  max-width: 100%;
  font-family: 'Roboto', serif;

}


.jumbotron {
  display: stretch;
  align-items: left;
  background: url("https://preview.ibb.co/h1ACmR/IMG_1916.jpg") no-repeat;
  /*background-size: 100px 50px; */
  color: #ffffff;
  height: 630px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
  z-index: 0;
max-width: 50%;
background-size: auto;
/*background-size: auto; */
}
/*
.jumbotron {
  display: flex;
  align-items: center;
  background-color: red;
  background-size: cover;
  background-image: url('https://ibb.co/fP57fF');
  color: #ffffff;
  height: 500px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
  */

.jumbotron h2 {
  font-size: 20px;
  font-weight: 7000;
  margin-top: 200px;
  margin-left: 800px;
  color: black;
  align-items: left;
  padding-bottom: 20px;

}

/* .jumbotron url {
    max-width: 100%;
    height: auto;
}
*/

.jumbotron h3 {
  margin: 0 0 20px;
  color: black;
   align-items: left;
     font-size: 14px;
  margin-left: 800px;

}

.col-sm-12 h2{
   font-size: 44px;
    width: 300px;
      margin-left: 850px;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;

}

.col-sm-12 h3{
       font-size: 22px;
    width: 400px;
      margin-left: 800px;
}

section . img {
  margin: 0 0 30px;
  width: 100%;
}

.col-md-6 {
  margin: 0 0 30px;
}

.btn.btn-primary {
  border-radius: 2px;
  border: 0px;
  color: #fbd1d5;
  text-shadow: none;
  background-color: blue;
  margin-left: 1060px;
}

.btn.btn-primary:hover {
  color: #ffffff;
  background-color: #fbd1d5;
}

.btn-secondary {
  background-color: #E8DFE0;
  color: #ffffff;
  margin: 0 0 30px;
}

footer {
  font-size: 12px;
  padding: 0;
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
}

/*
footer li img {
  width: 32px;
  height: 32px;
}
*/
